PORT=4000
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5-mini
CHROMA_HOST=https://api.trychroma.com
CHROMA_API_KEY=YOUR_CHROMA_API_KEY
CHROMA_TENANT=3ef1a77c-239b-4e46-8562-280d127e21e1
CHROMA_DATABASE=developement
